<!DOCTYPE html>
<html ng-app="news">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="libs/style.css">
    <script type="text/javascript" src="libs/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="news.js"></script>
    <script type="text/javascript" src="directives.js"></script>
    <title></title>
</head>
<body ng-controller="NewsController as newsController" class="main">
    <section>
        <ul class="nav nav-pills">
            <li ng-repeat="topic in newsController.topics" ng-class="{'active': newsController.isSelected(topic)}"><a href ng-click="newsController.selectTopic(topic)">{{topic}}</a></li>
        </ul>
       <news-container></news-container>

    </section>


</body>
</html>