<div class="panel-group">
    <div class="panel panel-primary">
        <a href ng-click="newsController.selectNews(null)">Back</a>
        <h3>{{newsController.selectedNew.header}}</h3>
        <img class="img-rounded" alt="{{image}}" width="340" ng-src="./images/{{newsController.selectedNew.image}}">
        <p>{{newsController.selectedNew.text}}</p>
    </div>
    <div class="panel panel-info">
        <h4>Comments</h4>
       <div ng-repeat="comment in newsController.selectedNew.comments">
           <comment></comment>
       </div>
        <comment-input></comment-input>
    </div>
</div>